<div class="alert bg-info" role="alert">
    <h4 class="alert-heading">
        Общая информация
    </h4>
    <hr />
    <p>
        Количество неиспользованных дней отпуска в текущем году: @ViewBag.countDayVocationInTheCurrentYear
    </p>
    <p>
        Количество неиспользованных дней отпуска за прошедшие года: @ViewBag.countDayVocationInThePastYears
    </p>
    <p>
        Количество дней отгулов по утвержденным заявкам в текущем году: @ViewBag.countDaysOffInTheCurrentYear
    </p>
    <p>
        Общее количество заявок: @ViewBag.allCountRequest
    </p>
    <p>
        Количество заявок со статусом "Новая": @ViewBag.countRequestWithStatusNew
    </p>
    <p>
        Количество заявок со статусом "Согласована": @ViewBag.countRequestWithStatusAgreed
    </p>
    <p>
        Количество заявок со статусом "Утверждена": @ViewBag.countRequestWithStatusApproved
    </p>
    <p>
        Количество заявок со статусом "Не согласована": @ViewBag.countRequestWithStatusNotAgreed
    </p>
    <p>
        Количество заявок со статусом "Не утверждена": @ViewBag.countRequestWithStatusNotApproved
    </p>
    <p>
        Количество заявок со статусом "Отозвана": @ViewBag.countRequestWithStatusWithdrawn
    </p>
    <p>
        Количество заявок со статусом "Отменена": @ViewBag.countRequestWithStatusCanceled
    </p>
</div>