@model Time_tracking_system.Domain.ViewModels.CreateRequestVM

@{
    ViewData["Title"] = "Создание заявки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Создание заявки</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <div class="form-group">
                    <label asp-for="TypeRequest_id" class="control-label"></label>
                    @Html.DropDownListFor(q => q.TypeRequest_id, new SelectList(Model.typeRequest, "Value", "Text"), new { @class = "form-control", @onchange = "Selected(this.value)" })
                    <span asp-validation-for="TypeRequest_id" class="text-danger"></span>
                </div>
            </div>
            <div id="loadingAttr" class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Загрузка...</div></div>
            <div id="attributes"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <textarea asp-for="Comments" class="form-control"></textarea>
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary" asp-action="Index">
        <i class="fa fa-arrow-left"></i> Назад
    </a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

    $(function () {
        var typeRequest = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.typeRequest) as String);
        Selected(typeRequest[0].Value);
    });

    var attr_TypeRequests = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model.attributes_TypeRequests) as String);

    function Selected(a) {

        document.getElementById("attributes").innerHTML = "";

        var curFieldId = 0; // Уникальное значение для атрибута
        for (var i = 0; i < attr_TypeRequests.length; i++) {

            if (attr_TypeRequests[i].TypeRequest_id == a) {
                if (attr_TypeRequests[i].Attributes.TypeData == "TypeVocation") {
                    var label = "<label class=\"control-label\">" + attr_TypeRequests[i].Attributes.NameAttributes + "</label>";
                    var input = "<input type=\"hidden\" name=\"value_Attributes_TypeRequests[" + curFieldId + "].Id\" value=" + attr_TypeRequests[i].Id + " class=\"form-control\" />";
                    var div = document.createElement("div");
                    div.innerHTML = input;
                    document.getElementById("attributes").appendChild(div);
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetTypeVocation")',
                        data: { i: curFieldId },
                        beforeSend: function () {
                            $('#loadingAttr').show();
                        },
                        success: function (data) {
                            $('#loadingAttr').hide();
                            $('#attributes').append(label + data);
                        }
                    });
                    curFieldId++;
                }

                if (attr_TypeRequests[i].Attributes.TypeData == "Bool") {
                    var input = "<input type=\"hidden\" name=\"value_Attributes_TypeRequests[" + curFieldId + "].Id\" value=" + attr_TypeRequests[i].Id + " class=\"form-control\" />";
                    var label = "<label class=\"control-label\">" + attr_TypeRequests[i].Attributes.NameAttributes + "</label>";
                    var select = "<select name=\"value_Attributes_TypeRequests[" + curFieldId + "].Value\" class=\"form-control\"><option value=\"true\">Да</option><option value=\"false\">Нет</option></select>";
                    var div = document.createElement("div");
                    div.innerHTML = input + label + select;
                    document.getElementById("attributes").appendChild(div);
                    curFieldId++;
                }

                if (attr_TypeRequests[i].Attributes.TypeData == "DateTime") {
                    var input = "<input type=\"hidden\" name=\"value_Attributes_TypeRequests[" + curFieldId + "].Id\" value=" + attr_TypeRequests[i].Id + " class=\"form-control\" />";
                    var label = "<label class=\"control-label\">" + attr_TypeRequests[i].Attributes.NameAttributes + "</label>";
                    var inputDate = "<input type=\"datetime-local\" name=\"value_Attributes_TypeRequests[" + curFieldId + "].Value\" class=\"form-control\" />";
                    var div = document.createElement("div");
                    div.innerHTML = input + label + inputDate;
                    document.getElementById("attributes").appendChild(div);
                    curFieldId++;
                }

                if (attr_TypeRequests[i].Attributes.TypeData == "Text") {
                    var input = "<input type=\"hidden\" name=\"value_Attributes_TypeRequests[" + curFieldId + "].Id\" value=" + attr_TypeRequests[i].Id + " class=\"form-control\" />";
                    var label = "<label class=\"control-label\">" + attr_TypeRequests[i].Attributes.NameAttributes + "</label>";
                    var textArea = "<textarea name=\"value_Attributes_TypeRequests[" + curFieldId + "].Value\" class=\"form-control\"></textarea>";
                    var div = document.createElement("div");
                    div.innerHTML = input + label + textArea;
                    document.getElementById("attributes").appendChild(div);
                    curFieldId++;
                }

                if (attr_TypeRequests[i].Attributes.TypeData == "Employee") {
                    var label2 = "<label class=\"control-label\">" + attr_TypeRequests[i].Attributes.NameAttributes + "</label>";
                    var input = "<input type=\"hidden\" name=\"value_Attributes_TypeRequests[" + curFieldId + "].Id\" value=" + attr_TypeRequests[i].Id + " class=\"form-control\" />";
                    var div = document.createElement("div");
                    div.innerHTML =  input;
                    document.getElementById("attributes").appendChild(div);
                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetEmployee")',
                        data: { i: curFieldId },
                        success: function (data) {
                            $('#attributes').append(label2 + data);
                        }
                    });
                    curFieldId++;
                }
            }
        }
    }
    </script>

}